################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hello_World/.vs/Hello_World/v16/Browse.VC.db
*.opendb
